* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: sombrero;
    src: url(BerkshireSwash-Regular.ttf);
}

body {
    background-color: #F7F7FF;
}

.banner {
    background-color: #137547;
    text-align: center;
}
.banner img {
    max-width: 100%;
}

.linkcontainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.linkcontainer a {
    color: #47525E;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.linkcontainer a:link, a:visited {
    display: block;
    padding: 10px 30px;
    text-align: center;
    background-color: #FFD185;
    text-decoration: none;
}
.linkcontainer a:hover {
    background-color: #d0a96b;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card img {
    max-width: 100%;
}

.card h2 {
    vertical-align: top;
    text-align: center;
}